USE [master]
GO
/****** Object:  Database [MUSICWEBSITE]    Script Date: 5/12/2023 4:18:50 PM ******/
CREATE DATABASE [MUSICWEBSITE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MUSICWEBSITE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MUSICWEBSITE.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MUSICWEBSITE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MUSICWEBSITE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MUSICWEBSITE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MUSICWEBSITE]
GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 5/12/2023 4:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[author] [nchar](20) NULL,
	[createTime] [datetime] NULL,
	[privacy] [nchar](10) NULL,
	[image] [nvarchar](200) NULL,
 CONSTRAINT [PK_Playlist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Song]    Script Date: 5/12/2023 4:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[path] [nvarchar](2000) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[artistsName] [nvarchar](100) NOT NULL,
	[author] [nchar](20) NOT NULL,
	[lyrics] [nvarchar](max) NULL,
	[bigThumbnail] [nvarchar](200) NULL,
	[thumbnail] [nvarchar](200) NULL,
	[duration] [int] NULL,
	[tag] [nchar](10) NULL,
	[viewCount] [int] NULL,
 CONSTRAINT [PK_Song] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Song_PlayList]    Script Date: 5/12/2023 4:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song_PlayList](
	[songID] [int] NOT NULL,
	[playListID] [int] NOT NULL,
	[position] [int] NULL,
 CONSTRAINT [PK_Song_PlayList] PRIMARY KEY CLUSTERED 
(
	[songID] ASC,
	[playListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Statistics]    Script Date: 5/12/2023 4:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistics](
	[date] [date] NOT NULL,
	[viewCount] [int] NOT NULL,
	[songID] [int] NOT NULL,
 CONSTRAINT [PK_Statistics] PRIMARY KEY CLUSTERED 
(
	[date] ASC,
	[viewCount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 5/12/2023 4:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[username] [nchar](20) NOT NULL,
	[password] [nvarchar](1000) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nchar](100) NULL,
	[birthday] [date] NULL,
	[address] [nvarchar](200) NULL,
	[phone] [nchar](10) NULL,
	[role] [nchar](10) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Playlist] ON 

INSERT [dbo].[Playlist] ([id], [name], [author], [createTime], [privacy], [image]) VALUES (1, N'Nhạc Trẻ', N'tongdeptrai         ', NULL, N'private   ', NULL)
SET IDENTITY_INSERT [dbo].[Playlist] OFF
SET IDENTITY_INSERT [dbo].[Song] ON 

SET IDENTITY_INSERT [dbo].[Song] OFF
INSERT [dbo].[Song_PlayList] ([songID], [playListID], [position]) VALUES (7, 1, 1)
INSERT [dbo].[Song_PlayList] ([songID], [playListID], [position]) VALUES (10, 1, 2)
INSERT [dbo].[Song_PlayList] ([songID], [playListID], [position]) VALUES (11, 1, 3)
INSERT [dbo].[User] ([username], [password], [name], [email], [birthday], [address], [phone], [role]) VALUES (N'1231                ', N'$2a$10$B0m7kGgRI1Mwpk9piVBzrORzWAxQvPftBfM1kGY7qut5/RL9ZPOM2', N'3131', NULL, NULL, NULL, NULL, N'user      ')
INSERT [dbo].[User] ([username], [password], [name], [email], [birthday], [address], [phone], [role]) VALUES (N'123123              ', N'$2a$10$0hb6aLo4TXCYj3.N5AWlWexIPNBZzCZa7yrwfd831dl8kPOHaohAe', N'131231', NULL, NULL, NULL, NULL, N'user      ')
INSERT [dbo].[User] ([username], [password], [name], [email], [birthday], [address], [phone], [role]) VALUES (N'1231231             ', N'$2a$10$2eNypZNpU4aYUKXN9me0xuxSYGSrpbZ3gmTCt342Jef/W8FQ.fCH.', N'31232311', NULL, NULL, NULL, NULL, N'user      ')
ALTER TABLE [dbo].[Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Playlist_User] FOREIGN KEY([author])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[Playlist] CHECK CONSTRAINT [FK_Playlist_User]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_Song_User] FOREIGN KEY([author])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_Song_User]
GO
ALTER TABLE [dbo].[Song_PlayList]  WITH CHECK ADD  CONSTRAINT [FK_Song_PlayList_Playlist] FOREIGN KEY([playListID])
REFERENCES [dbo].[Playlist] ([id])
GO
ALTER TABLE [dbo].[Song_PlayList] CHECK CONSTRAINT [FK_Song_PlayList_Playlist]
GO
ALTER TABLE [dbo].[Song_PlayList]  WITH CHECK ADD  CONSTRAINT [FK_Song_PlayList_Song] FOREIGN KEY([songID])
REFERENCES [dbo].[Song] ([id])
GO
ALTER TABLE [dbo].[Song_PlayList] CHECK CONSTRAINT [FK_Song_PlayList_Song]
GO
ALTER TABLE [dbo].[Statistics]  WITH CHECK ADD  CONSTRAINT [FK_Statistics_Song] FOREIGN KEY([songID])
REFERENCES [dbo].[Song] ([id])
GO
ALTER TABLE [dbo].[Statistics] CHECK CONSTRAINT [FK_Statistics_Song]
GO
USE [master]
GO
